.bundle/
.yardoc/
*.gem
doc/
log/*.log
pkg/
test/dummies/**/db/*.sqlite3
test/dummies/**/db/*.sqlite3-journal
test/dummies/**/log/*.log
test/dummies/**/tmp/
test/dummies/**/.sass-cache
.byebug_history
Gemfile.lock
gemfiles/*.gemfile.lock
