*.gem
.bundle/
.byebug_history
.yardoc/
doc/
Gemfile.lock
gemfiles/*.gemfile.lock
log/*.log
pkg/
test/dummies/**/db/*.sqlite3
test/dummies/**/db/*.sqlite3-journal
test/dummies/**/log/*.log
test/dummies/**/tmp/
test/dummies/**/.sass-cache
